#root {
    border: 2px solid;
    border-radius: 13px;
    border-color: #d3d9de;
    margin-top: 25px;

}

.canvas {
    padding-left: 0;
    border-top: 1px solid;
}

.editor {
    border-top: 1px solid;
}

.myFrame h2 {
    color: #337ab7;
    margin-bottom: 20px;
}

.editor, .imageForm {
    border-right: 1px solid;
}
.myFrame, .canvas, .editor, .imageForm {
    border-color: #d3d9de;
}

#canvas {
    border: 1px solid;
    border-color: #d3d9de;
    border-bottom: none;
    border-top: none;
}